<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>CONTACT</h3>
        <p>Av. Vasco de Quiroga 3900</p>
        <p>Torre "C" 2do. piso, int. 203 C1</p>
        <p>Col. Lomas de Santa Fe</p>
        <p>Alc. Cuajimalpa, C.P. 05300</p>
        <p>Ciudad de México</p>
        <p>Tel. (55) 5000 6777</p>
        <p>marketing&#64;dinamex.com.mx</p>
      </div>
      <div class="footer-section">
        <h3>FOLLOW US!</h3>
        <div class="social-icons">
          <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2025 HERKO AUTOMOTIVE GROUP MÉXICO S.A. All rights reserved</p>
      <p>Bruno Santiago Muñoz López</p>
      <a href="#">Proyecto Universitario</a>
    </div>
  </footer>