<div>
  <mat-form-field appearance="fill">
    <mat-label>Buscar producto</mat-label>
    <input
      matInput
      [(ngModel)]="searchText"
      (input)="applyFilter()"
      placeholder="Escribe para filtrar productos"
    />
  </mat-form-field>
</div>
<table mat-table [dataSource]="filteredProducts" class="mat-elevation-z8">

  <!-- Columna ID Artículo -->
  <ng-container matColumnDef="id_articulo">
    <th mat-header-cell *matHeaderCellDef> ID Artículo </th>
    <td mat-cell *matCellDef="let product"> {{ product.id_articulo }} </td>
  </ng-container>

  <!-- Columna Descripción -->
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripción </th>
    <td mat-cell *matCellDef="let product"> {{ product.descripcion }} </td>
  </ng-container>

  <!-- Columna Línea -->
  <ng-container matColumnDef="linea">
    <th mat-header-cell *matHeaderCellDef> Línea </th>
    <td mat-cell *matCellDef="let product"> {{ product.linea }} </td>
  </ng-container>

  <!-- Columna Existencias -->
  <ng-container matColumnDef="existencias">
    <th mat-header-cell *matHeaderCellDef> Existencias </th>
    <td mat-cell *matCellDef="let product"> {{ product.existencias }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;"
    (click)="selectProduct(row)"
    class="clickable-row"
  ></tr>
</table>
